:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.lightsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 4px solid white;
  background-color: black;
  padding: 16px;
  border-radius: 20px;
  width: 80px;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  opacity: 0.25;
  border: 2px solid transparent;
}

.activeLight {
  opacity: 1;
  border-color: white;
}

.lightButton {
  appearance: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.lightButton:not(:disabled) {
  cursor: pointer;
}